@media  (max-width: 1300px) {
    /*=================root===================*/
    :root{
    --section-padding: 100px 8% ;
    --p-line-hight:22px;
    --p-font-size: 16px;
    --p-mini-font-size:14px;
    --h2-font-size:40px;
    --h3-font-size:22px;
    --h4-font-size:18px;
    --spacial-text:30px;
    --color-one:#59C378;
    --color-two:#FFE600;
    --text-color:#fff;
}

.nav_area{
    padding: 10px 8%;
    
}
/*=================hero===================*/

.hero_area{
    padding-top: 100px;
    
}
.hero_area .hero_single_col .left span{
    font-size: var(--h3-font-size);
    margin-bottom: 10px;
}
.hero_area .hero_single_col .left h1{
    font-size: 60px;
}
.hero_area .hero_single_col .left h2{
    font-size: var(--h3-font-size);
}

.hero_area .hero_single_col .right .img_box{
    flex-basis: 75%;
}
.hero_area .hero_single_col .right .img_box img.hero_skill_logo{
    height: 70px;
    width: 70px;
}

.hero_area .hero_single_col .right .img_box .hero_skill_text{
    bottom: 20px;
    left: -10px;
    border-radius: 10px;
    padding: 10px;
}
/*=================about===================*/
.about .left .main_box{
    width: 80%;
    padding: 50px 10px;
}
.about .left .main_box .sub_box_border{
    margin-right: -30%;
}
.about .right .skills_col{
    grid-template-rows: 130px 130px;
    gap: 20px;
}

.about .left .img_box img.hero_skill_logo{
    height: 80px;
    width: 80px;
}
/*=================service===================*/
/*=================experience===================*/
.testimonial .left .img_grp_box{
    padding: 40px;
}
.testimonial .left .img_grp_box .border_img{
    width: 60px;
}
.testimonial .left .img_grp_box{
    width: 70%;
    
}

.small_contact_link_section .small_contact_link_box .left h2{
    font-size: var(--h3-font-size);
    line-height: 30px;
}

}
@media  (max-width: 1050px) {
    /*=================root===================*/
    :root{
    --section-padding: 100px 7% ;
    --p-line-hight:20px;
    --p-font-size: 14px;
    --p-mini-font-size:12px;
    --h2-font-size:35px;
    --h3-font-size:20px;
    --h4-font-size:17px;
    --spacial-text:26px;
    --color-one:#59C378;
    --color-two:#FFE600;
    --text-color:#fff;

}

.nav_area{
    padding: 10px 7%;
    
}
.nav_area .menu_btn_area{
    flex-basis: 75%;
}
/*=================hero===================*/
.hero_area{
    padding: 100px 8% 50px;
    
}
.hero_area .hero_single_col .left span{
    margin-bottom: 10px;
}
.hero_area .hero_single_col .left h1{
    margin-bottom: 10px;
    font-size: 50px;
}

.hero_area .hero_single_col .left h2{
    margin-bottom: 10px;
}

.hero_area .hero_single_col .left p{
    margin-bottom: 20px;
    text-align: justify;
}
.hero_area .hero_single_col .right .img_box img.hero_skill_logo{
    height: 70px;
    width: 70px;
    border: 5px solid var(--text-color);

}
.hero_area .hero_single_col .right .img_box img.hero_skill_logo_wp{
    top: 20px;
    left: 20px;
}
.hero_area .hero_single_col .right .img_box img.hero_skill_logo_js{
    top: 20px;
    right: 20px;
}

.hero_area .hero_single_col .right .img_box img.hero_skill_logo_php{
    bottom: 20px;
    right: 20px;
}
.hero_area .hero_single_col .right .img_box .hero_skill_text .hero_skill_text_right span{
    font-size: var(--p-mini-font-size);
}

/*--=============page intro start====================--*/
.page_into{
    height: 20vh;
}
/*=================about===================*/
.about .left .main_box h1{
    font-size: 60px;
    
}
.about .left .main_box span{
    margin-bottom: 70px;
}
.about .left .main_box .sub_box_border .sub_box{
    padding: 15px 40px;
}

.about .right .skills_col{
    grid-template-rows: 120px 120px;
    gap: 15px;
}


.about .left .img_box img{
    border: 10px solid #1B1A19;
    
}
.about .left .img_box img.hero_skill_logo{
    border: 3px solid #fff;
}

/*=================Service===================*/

.Service .service_btn_area button{
    width: 150px;
}

.Service .service_area .service_box{
    flex-basis: 30%;
    min-height: 350px;
    padding: 20px 10px;
}

.Service .service_area .service_box .logo_icon{
    padding: 25px;
}

.experience .experience_row .experience_col{
    background-color: #282828;
    padding: 40px 10px;
    margin: 5px;
    flex-basis: 30%;

}

.recentwork .text_area .right .icon_box{
    padding: 5px;
}
.recentwork .text_area .right .icon_box .icon{
    padding: 20px;
}
.recentwork .text_area .right .icon_box .icon i{
    font-size: 50px;
}
.recentwork .resentwork_swiper .swiper-wrapper .swiper-slide .img_box{
    height: 300px;
}


.testimonial .left .img_grp_box{
    padding: 30px;
}

.testimonial .left .img_grp_box{
    width: 75%;
    
}
.testimonial .left .img_grp_box .border_img{
    width: 50px;
}

.testimonial .right{
    padding-left: 10px;
}

.testimonial .right .testimonial_swiper .swiper-wrapper .swiper-slide h2{
    margin-bottom: 20px;
}
.testimonial .right .testimonial_swiper .swiper-wrapper .swiper-slide p{
    margin-bottom: 20px;

}

.testimonial .right .testimonial_swiper .swiper-wrapper .swiper-slide h4{
    margin-bottom: 5px;
}

.pricing .price_col .price_box{
    padding: 0px 20px 40px 20px;
}

.small_contact_link_section{
    display: none;
}


.footer .footer_row .footer_col:nth-child(1){
     padding-right: 10px;
}

.footer .footer_row .footer_col:nth-child(1) .logo a img{
    width: 80px;
}

.footer .footer_row .footer_col .email_box{
    background-color: #232925;
    padding: 5px;
}
.footer .footer_row .footer_col .email_box input{
    width: 80%;
}
}
@media  (max-width: 800px) {
/*=================root===================*/
    :root{
    --section-padding: 70px 5% ;
    --p-line-hight:20px;
    --p-font-size: 14px;
    --p-mini-font-size:12px;
    --h2-font-size:32px;
    --h3-font-size:18px;
    --h4-font-size:16px;
    --spacial-text:24px;
    --color-one:#59C378;
    --color-two:#FFE600;
    --text-color:#fff;

}

.nav_area{
    padding: 10px 5%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    
}
.nav_area .menu_btn{
    display: flex;
}
.nav_area .menu_btn_area{
    position: absolute;
    top: 100%;
    right: 0;
    height: 95vh;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.9);
    
    z-index: 8;
    flex-direction: column;
    justify-content: start;
    display: none;
    
}
.nav_area .menu_btn_area.active{
    display: block;
}
.nav_area .menu_btn_area .menu_area{
    width: 100%;
}
.nav_area .menu_btn_area .menu_area ul{
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 30px;
}
.nav_area .menu_btn_area .menu_area ul li{
    width: 100%;
    padding-left: 20px;
    transition: .3s;
}
.nav_area .menu_btn_area .menu_area ul li a{
    padding: 15px 10px ;
    display: inline-block;
    width: 100%;
    margin: 0;
}
.nav_area .menu_btn_area .menu_area ul li:hover{
    background-color: #232925;
}
.nav_area .menu_btn_area .btn_area{
    width: 100%;
    padding-left: 20px;
}

/*=================hero===================*/

.hero_area{
    padding: 100px 5% 50px;
    
}


.hero_area .hero_single_col .left span{
    font-size: var(--h3-font-size);
}
.hero_area .hero_single_col .left h1{
    font-size: 40px;
}

.hero_area .hero_single_col .left h2{
    font-size: var(--h3-font-size);
}

.hero_area .hero_single_col .left p{
    font-size: var(--p-font-size);
    width: 100%;
}

.hero_area .hero_single_col .right .img_box img.hero_skill_logo{
    height: 50px;
    width: 50px;
}
.hero_area .hero_single_col .right .img_box .hero_skill_text{
    padding: 5px;

}

.hero_area .hero_single_col .right .img_box .hero_skill_text .hero_skill_text_left i{
    padding-right: 10px;
}

.page_into{
    height: 15vh;
}

.page_into .text h2{
    padding: 20px 0;
}

/*=================about===================*/
.about .left .main_box{
    width: 85%;
}

.about .left .main_box .sub_box_border{
    margin-right: 0;
}
.about .left .main_box .sub_box_border .sub_box{
    padding: 10px 30px;
}
.about .right .skills_col{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 110px 110px;
}
.about .right .skills_col .skill_box_border{
    padding: 2px;
}

.about .left .img_box img.hero_skill_logo{
    position: absolute;
    height: 60px;
    width: 60px;
}

.about .left .img_box .hero_skill_text{
    bottom: -20px;
    left: -20px;
    padding: 10px;
}

/*=================service===================*/
.Service .service_area .service_box{
    margin: 5px;
}

/*=================experience===================*/
.experience .experience_row .experience_col{
    padding: 40px 15px;
    flex-basis: 40%;
    margin: 10px;

}
.experience .experience_row .experience_col img{
    width: 60px;
}

.testimonial .left .img_grp_box .border_img{
    width: 40px;
}
.testimonial .right .testimonial_swiper .swiper-button-prev,
.testimonial .right .testimonial_swiper .swiper-button-next {
    width: 40px;
    height: 40px;
}

.testimonial .right .testimonial_swiper .swiper-button-next {
    transform: translateX(50px);

}

.testimonial .left .img_grp_box{
    padding: 20px;
    width: 80%;
}

.testimonial .right{
    padding-left: 0px;
}
.pricing .price_col {
    justify-content: center;

}
.pricing .price_col .price_box{
    flex-basis: 42%;
    margin: 10px;
}

.footer .footer_row .footer_col:nth-child(1){
    flex-basis: 50%;
}
.footer .footer_row .footer_col:nth-child(2), .footer .footer_row .footer_col:nth-child(3){
    flex-basis: 22%;
}
.footer .footer_row .footer_col:nth-child(4){
    margin-top: 50px;
    flex-basis: 100%;
    text-align: center;
}

.footer .footer_row .footer_col:nth-child(4) h3{
    margin-bottom: 10px;
}
.footer .footer_row .footer_col .last_fo_para{
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
}
.footer .footer_row .footer_col .email_box{
    padding: 10px;
    width: 50%;
    margin: auto;
}
}
@media  (max-width: 600px) {

    /*=================root===================*/
    :root{
    --section-padding: 70px 5% ;
    --p-line-hight:15px;
    --p-font-size: 12px;
    --p-mini-font-size:10px;
    --h2-font-size:26px;
    --h3-font-size:17px;
    --h4-font-size:14px;
    --spacial-text:24px;
    --color-one:#59C378;
    --color-two:#FFE600;
    --text-color:#fff;

}


/*=================hero===================*/

.hero_area{
    padding: 5px 5%;
    
}
.hero_area .hero_single_col{
    flex-direction: column-reverse;
}
.hero_area .hero_single_col .left{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero_area .hero_single_col .left span{
    margin-bottom: 5px;
}
.hero_area .hero_single_col .left h1{
    margin-bottom: 0px;
}

.hero_area .hero_single_col .left h2{
    margin-bottom: 10px;
}

.hero_area .hero_single_col .left p{
}

.hero_area .hero_single_col .right{
    width: 100%;
    align-items: end;
}
.hero_area .hero_single_col .right .img_box{
    flex-basis: 35%;
}



.hero_area .hero_single_col .right .img_box img.hero_skill_logo{
    height: 40px;
    width: 40px;
    border: 3px solid var(--text-color);

}
.hero_area .hero_single_col .right .img_box img.hero_skill_logo_wp{
    top: 10px;
    left: 10px;
}
.hero_area .hero_single_col .right .img_box img.hero_skill_logo_js{
    top: 10px;
    right: 10px;
}

.hero_area .hero_single_col .right .img_box img.hero_skill_logo_php{
    bottom: 10px;
    right: 10px;
}
.hero_area .hero_single_col .right .img_box .hero_skill_text{

    bottom: 10px;
    left: -30px;
    border-radius: 5px;
    padding: 5px 10px;
}
.hero_area .hero_single_col .right .img_box .hero_skill_text .hero_skill_text_left i{
    padding-right: 5px;
    display: none;
}

.hero_area .hero_single_col .right .img_box .hero_skill_text .hero_skill_text_right h3{
    margin-bottom: 0px;
    text-align: center;
    
}


.page_into{
    height: 10vh;
}

.page_into .text h2{
    padding: 15px 0;
}
/*=================about===================*/
.about{
    display: flex;
    flex-direction: column-reverse;
}
.about .left{
    width: 100%;
    
}
.about .left .main_box{
    width: 80%;
    margin: auto;
    padding: 30px 10px;

}
.about .left .main_box h1{
    font-size: 40px;
    padding-bottom: 10px;
    
}
.about .left .main_box span{
    font-size: var(--h4-font-size);
    margin-bottom: 20px;
}

.about .left .main_box .sub_box_border .sub_box{

    padding: 5px 15px;

}
.about .left .main_box .sub_box_border .sub_box .sub_box_left h2{
    padding-right: 5px;
    font-size:var(--h3-font-size);
}

.about .right{
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    
}

.about .right .skills_col{
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}


.about .left .img_box{
    flex-basis: 70%;
    margin: auto;
    margin-top: 30px;
}
.about .left .img_box img{
    width: 100%;
    border: 15px solid #1B1A19;
    border-radius: 10px;
    
}
.about .left .img_box img.hero_skill_logo{
    position: absolute;
    height: 60px;
    width: 60px;
}

.about .left .img_box .hero_skill_text{
    padding: 10px ;
}
/*=================Service===================*/

.Service .service_btn_area{
    margin: 30px 0px ;
}
.Service .service_btn_area button{
    width: 120px;
    font-size: var(--h4-font-size);
    margin: 5px;
    padding: 8px 10px;
}
.Service .service_area .service_box{
    flex-basis: 45%;
    min-height: 300px;
    margin: 5px;
    padding: 30px 10px;
}
.Service .service_area .service_box .logo_icon{
    padding: 20px;
}
.Service .service_area .service_box h3{
    margin-bottom: 10px;
}

/*=================experience===================*/
.experience .experience_row .experience_col{
    padding: 30px 10px;
    flex-basis: 45%;
    margin: 5px;

}
.experience .experience_row .experience_col img{
    width: 40px;
}

.recentwork .text_area .left p{
    width: 90%;
}
.recentwork .text_area .right .icon_box{
    padding: 5px;
}
.recentwork .text_area .right .icon_box .icon{
    padding: 15px;
}
.recentwork .text_area .right .icon_box .icon i{
    font-size: 30px;
}
.recentwork .resentwork_swiper .swiper-wrapper .swiper-slide .img_box{
    height: 250px;
}
.recentwork .resentwork_swiper{
    padding-bottom: 80px;
}

.recentwork .resentwork_swiper .swiper-button-prev,
.recentwork .resentwork_swiper .swiper-button-next {
    width: 40px;
    height: 40px;
}


.testimonial{
    flex-direction: column;
}
.testimonial .left{
width: 40%;
}
.testimonial .left .img_grp_box{
    padding: 20px;
}
.testimonial .left .img_grp_box .border_img{
    width: 30px;
}
.testimonial .left .img_grp_box .border_img:nth-child(1){
    top: 10px;
    left: 0;
}
.testimonial .left .img_grp_box .border_img:nth-child(2){
    top: 10px;
    right: 0;
}
.testimonial .left .img_grp_box .border_img:nth-child(3){
    bottom: 10px;
    right: 0;
}
.testimonial .left .img_grp_box .border_img:nth-child(4){
    bottom:10px;
    left: 0;
}
.testimonial .left .img_grp_box .main_img_box{
    box-shadow: none;
    
}
.testimonial .right{
width: 100%;
margin-top: 40px;
}


.pricing .price_col .price_box{
    flex-basis: 45%;
    margin: 5px;
    padding: 0px 10px 30px 10px;

}



.footer .footer_row .footer_col:nth-child(1){
    flex-basis: 40%;
}
.footer .footer_row .footer_col:nth-child(2), .footer .footer_row .footer_col:nth-child(3){
    flex-basis: 28%;
}
}
@media  (max-width: 420px) {

    /*=================root===================*/
    :root{
    --section-padding: 50px 3% ;
    --p-line-hight:16px;
    --p-font-size: 12px;
    --p-mini-font-size:10px;
    --h2-font-size:26px;
    --h3-font-size:17px;
    --h4-font-size:14px;
    --spacial-text:24px;
    --color-one:#59C378;
    --color-two:#FFE600;
    --text-color:#fff;

}
/*=================home===================*/

.hero_area .hero_single_col .left span{
    margin-bottom: 0px;
    font-size: var(--p-font-size);

}
.hero_area .hero_single_col .left h1{
    font-size: 30px;
}
.hero_area .hero_single_col .left h2{
    font-size: var(--h4-font-size);

}
.hero_area .hero_single_col .right{
    align-items: end;
    justify-content: center;
    padding-bottom: 10px;
}

.hero_area .hero_single_col .right .img_box img.hero_skill_logo, .hero_area .hero_single_col .right .img_box .hero_skill_text{
    display: none;
}

.page_into{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/page-title2.jpg);
    height: 15vh;
    background-position: right;
    position: relative;
}

/*=================about===================*/
.about .left .main_box{
    width: 90%;
    margin: auto;
}
.about .right .skills_col{
    width: 90%;
    gap: 10px;
}


.about .left .img_box img.hero_skill_logo{
    height: 40px;
    width: 40px;
}
.about .left .img_box .hero_skill_text{
    padding: 10px;
}
.about .left .img_box .hero_skill_text{
    text-align: center;
}
.about .left .img_box .hero_skill_text .hero_skill_text_left i{
    display: none;
}
/*=================Service===================*/
.Service .service_btn_area button{

    font-size: var(--p-font-size);
}

.Service .service_area .service_box{
    flex-basis: 45%;
    margin: 5px;
    padding: 30px 10px;
}


/*=================experience===================*/
.experience .experience_row .experience_col{
    padding: 30px 10px;
    flex-basis: 70%;
    margin: 5px;

}
.experience .experience_row .experience_col img{
    width: 50px;
}

.testimonial .left{
width: 50%;
}
.testimonial .left .img_grp_box{
    width: 100%;
}

.testimonial .left .img_grp_box .border_img:nth-child(1){
    top: 5px;
    left: 0;
}
.testimonial .left .img_grp_box .border_img:nth-child(2){
    top: 5px;
    right: 0;
}
.testimonial .left .img_grp_box .border_img:nth-child(3){
    bottom: 5px;
    right: 0;
}
.testimonial .left .img_grp_box .border_img:nth-child(4){
    bottom:5px;
    left: 0;
}

.testimonial .right .testimonial_swiper .swiper-button-prev {
    left: 65%;

}
.testimonial .right .testimonial_swiper .swiper-button-next {
    left: 65%;
    transform: translateX(40px);
}

.testimonial .right .testimonial_swiper .swiper-button-prev,
.testimonial .right .testimonial_swiper .swiper-button-next {
    width: 30px;
    height: 30px;
    
}

.testimonial .right .testimonial_swiper .swiper-button-prev::after,
.testimonial .right .testimonial_swiper .swiper-button-next::after{
    font-size: var(--h4-font-size);
}

.pricing .price_col .price_box{
    flex-basis: 80%;
    margin: 10px;

}

.footer .footer_row{
    justify-content: center;
}
.footer .footer_row .footer_col:nth-child(1){
    flex-basis: 100%;
    margin-bottom: 40px;
    text-align: center;
}
.footer .footer_row .footer_col:nth-child(1) .logo{
    width: 50%;
    margin: auto;
    justify-content: center;
    margin-bottom: 20px;
}
.footer .footer_row .footer_col:nth-child(1) .logo a img{
    width: 50px;
}

.footer .footer_row .footer_col:nth-child(1) p{
    width: 70%;
    margin: auto;
}
.footer .footer_row .footer_col:nth-child(2), .footer .footer_row .footer_col:nth-child(3){
    flex-basis: 35%;
    margin: 10px;
}
.footer .footer_row .footer_col:nth-child(2) h3, .footer .footer_row .footer_col:nth-child(3) h3{
    margin-bottom: 10px;
    
}
}
@media  (max-width: 300px) {
/*=================root===================*/
    :root{
    --section-padding: 50px 3% ;
    --p-line-hight:18px;
    --p-font-size: 12px;
    --p-mini-font-size:10px;
    --h2-font-size:24px;
    --h3-font-size:17px;
    --h4-font-size:15px;
    --spacial-text:18px;
    --color-one:#59C378;
    --color-two:#FFE600;
    --text-color:#fff;

}
/*=================home===================*/
.hero_area{
    padding: 50px 3% 30px;
    
}
/*=================about===================*/
.about .left .main_box .sub_box_border .sub_box{
    padding: 10px ;

}

.about .right .skills_col{
    grid-template-rows: 100px 100px;

}
/*=================Service===================*/
.Service .service_area .service_box{
    flex-basis: 80%;
}

/*=================experience===================*/
.experience .experience_row .experience_col{
    flex-basis: 80%;
    margin: 5px;

}


.blog_section .blog_area .swiper .blog_area_slide_warper .swiper-wrapper .swiper-slide{
    padding: 30px 20px;
}
}