@media  (max-width: 1500px) {

    /*--============= hero area start ====================--*/
    .hero_area{
    padding-top: 130px;
    }
    .hero_area .hero_single_col .right .img_box img.hero_skill_logo{
    height: 80px;
    width: 80px;
    border: 5px solid var(--text-color);

    }
    .hero_area .hero_single_col .right .img_box .hero_skill_text{
    padding: 10px;
    }

    .page_into{
    height: 35vh;
}
.page_into .text h2{
    font-size: 40px;
    margin-bottom: 0px;
    padding: 20px;
}

.contact_info_3_box .contact_info_3_box_row .contact_info_3_box_col{
    margin: 0 20px;
}

}

@media  (max-width: 1300px) {

    /*--==============hero area=============--*/
    .hero_area .hero_single_col .left h1{
    color: var(--text-color);
    font-size: 70px;
    }

    .hero_area .hero_single_col .right .img_box .hero_skill_text{
    position: absolute;
    bottom: 20px;
    left: -30px;
    }

    /*--==============skills=============--*/
    .skills .left .main_box .sub_box_border{
    margin-right: -150px;
    }

    /*--==========Service=================--*/

    .Service .service_area{
    width: 100%;

}

    /*--=======small_contact_link_section=====--*/
    .small_contact_link_section .small_contact_link_box .left{
        flex-basis: 70%;
    }
    .small_contact_link_section .small_contact_link_box .right{
        flex-basis: 30%;
    }

    .brand_logo{
    padding-block: 50px;
    background-color: #363636;
}
.brand_logo .brand_logo_swiper .col img{
    width:60%;
}

}

@media  (max-width: 1100px){
    /*--=============root start====================--*/
    :root{
    --p-font-size: 15px;
    --p-mini-font-size:14px;
    --h2-font-size:30px;
    --h3-font-size:20px;
    --h4-font-size:16px;

}

section{
    padding-inline:6% ;
}


.hero_area{
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    
}
/*--=============skills====================--*/
.skills .right .skills_col{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 130px 130px;
    gap: 20px;
}
/*--=============experience====================--*/

.experience .experience_row .experience_col{
    padding: 20px 10px;
    border-radius: 10px;

}

/*--=============pricing====================--*/

.pricing .price_col .price_box{
    flex-basis: 31%;
    background-color: #262626;
    color: var(--text-color);
    padding: 0px 30px 40px 30px;
}
.pricing .price_col .price_box .price_value{
    margin-block: 20px;
}
.pricing .price_col .price_box .short_dec{
    margin-bottom: 10px;
}
.pricing .price_col .price_box ul li{
    margin-bottom: 15px;

}
/*--=============footer====================--*/
.testimonial .right .testimonial_swiper .swiper-wrapper .swiper-slide h2{
    font-size: var(--h3-font-size);
    margin-bottom: 20px;
    line-height: 35px;
}
/*--=============footer====================--*/
.footer .footer_row .footer_col:nth-child(1){
     padding-right: 0px;
}

.footer .footer_row .footer_col:nth-child(2){
padding-left: 20px;
}
.map{
    padding: 0;
    width: 100%;
    height: 350px;
}

.contact_info_3_box  .form {
    padding: 20px;

}

}

@media  (max-width: 900px){
    /*--=============root====================--*/

section{
    padding-inline:5% ;
}
/*--=============nav====================--*/

.nav_area .logo_area{

    flex-basis: 20%;
}
.nav_area .menu_btn_area{
    flex-basis: 80%;
}
/*--=============hero====================--*/

.hero_area{
    height:100vh;
    padding-top: 120px;
    
}
.hero_area .hero_single_col .left span{

    font-size: var(--h3-font-size);
    margin-bottom: 10px;
    
}
.hero_area .hero_single_col .left h1{
    color: var(--text-color);
    font-size: 50px;
    margin-bottom: 10px;
    text-shadow: 0px 0px 10px #000000;
}
.hero_area .hero_single_col .left h2{
    color: var(--color-one);
    font-size: var(--h3-font-size);
    margin-bottom: 20px;
}

.hero_area .hero_single_col .left p{
    text-align: justify;
    line-height: 20px;
}
.hero_area .hero_single_col .right .img_box img.hero_skill_logo{

    height: 60px;
    width: 60px;

}

.hero_area .hero_single_col .right .img_box .hero_skill_text .hero_skill_text_left i{
    color: var(--color-one);
    font-size: var(--h2-font-size);
    padding-right: 10px;
}
.hero_area .hero_single_col .right .img_box .hero_skill_text .hero_skill_text_right span{
    font-size: var(--p-mini-font-size);
}

/*--=============skill====================--*/
.skills .left .main_box{
    width: 90%;
    height: auto;
    background: linear-gradient(to top, #1C1C19, #2D2B1F);
    padding: 60px 10px;
}
.skills .left .main_box h1{
    font-size: 70px;

}
.skills .left .main_box .sub_box_border{
    margin-right: 0px;
}

/*--=============Service====================--*/

.Service .service_btn_area button{
    width: 150px;
    margin: 5px;
    padding: 8px 15px;
    font-size: var(--h4-font-size);

}
.Service .service_area{
    width: 80%;
}
.Service .service_area .service_box{
    flex-basis: 45%;
    padding: 20px;

}
.Service .service_area .service_box .logo_icon{
    padding: 20px;
    font-size: var(--h2-font-size);
}
.experience .experience_row{
    justify-content: space-between;
}
.experience .experience_row .experience_col{
    padding: 30px 20px;
    flex-basis: 32%;
    border: 1px solid #4e4e4e00;
}
.experience .experience_row .experience_col img{

    width: 70px;
}
.experience .experience_row .experience_col .year{
    font-size: var(--h4-font-size);
    margin-bottom: 10px;
}

.experience .experience_row .experience_col .post{
    font-size: var(--h4-font-size);
    margin-bottom: 10px;
}
/*--=============recentwork====================--*/

.recentwork .text_area .right .icon_box .icon{
    padding: 15px;

}
.recentwork .text_area .right .icon_box .icon i{
    font-size: 50px;
}
.recentwork .resentwork_swiper .swiper-wrapper .swiper-slide h3{
    font-size: var(--h4-font-size);
    margin-bottom: 10px;
}


.testimonial .left{
    flex-basis: 30%;
    justify-content: center;

}
.testimonial .right{
    flex-basis: 68%;
}
.testimonial .left .img_grp_box{
    padding: 30px;
}


.testimonial .left .img_grp_box .border_img:nth-child(1){
    top: 0;
    left: 0;
}
.testimonial .left .img_grp_box .border_img:nth-child(2){
    top: 0;
    right: 0;
}
.testimonial .left .img_grp_box .border_img:nth-child(3){
    bottom: 0;
    right: 0;
}
.testimonial .left .img_grp_box .border_img:nth-child(4){
    bottom:0;
    left: 0;
}


/*--=============blog====================--*/

.blog_section .blog_area .swiper .blog_area_slide_warper .swiper-wrapper .swiper-slide h3{
    margin: 20px 0;
    font-size: var(--h4-font-size);
}



.small_contact_link_section .small_contact_link_box{
    padding: 50px;
}

.small_contact_link_section .small_contact_link_box .left h2{

    font-size: var(--h2-font-size);
    line-height: 50px;
}


.footer{
    padding-block: 40px;
}

.footer .footer_row .footer_col{
    margin-top: 50px;
}

.footer .footer_row .footer_col:nth-child(1){
    border-right: none;
     flex-basis: 40%;
}
.footer .footer_row .footer_col:nth-child(2), .footer .footer_row .footer_col:nth-child(3){
    flex-basis: 25%;
} 


.contact_info_3_box .contact_info_3_box_row .contact_info_3_box_col{
    flex-basis: 32%;
    margin: 10px;
    padding: 20px;
    margin: 10px;
    height: 270px;
}


.contact_info_3_box  .form .name_email,  .contact_info_3_box  .form .address_service{

    margin-bottom: 0px;
    flex-direction: column;
}

.contact_info_3_box  .form .name_email input,  .contact_info_3_box  .form .address_service input{
    width: 100%;
    outline: none;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.contact_info_3_box  .form  textarea{
    height: 150px;
    border-radius: 10px;

}

}



@media  (max-width: 700px){
:root{
    --p-font-size: 14px;
    --p-mini-font-size:12px;
    --h2-font-size:30px;
    --h3-font-size:20px;
    --h4-font-size:16px;
}

  .nav_area {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);

  }
  .nav_area_other_page{
    background-color: #000000;
  }

  .nav_area .menu_btn {
    display: block;
    cursor: pointer;
  }

  .nav_area .menu_btn_area {
    
    flex-direction: column;
    width: 50%;
    display: none;
    padding: 15px;
    position: fixed;
    top: 100%;
    height: 92vh;
    transition: 2s;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .nav_area .menu_btn_area.active {
    right: 0;
    display: flex;
  }

  .nav_area .menu_btn_area .menu_area ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav_area .menu_btn_area .menu_area ul li {
    margin-bottom: 20px;
  }

  .nav_area .btn_area {
    margin-bottom: 50px;
  }



.hero_area{
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    
}
.hero_area .hero_single_col{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.hero_area .hero_single_col .right{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero_area .hero_single_col .right .img_box img.hero_skill_logo,.hero_area .hero_single_col .right .img_box .hero_skill_text {
    display: none;
}
.hero_area .hero_single_col .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.hero_area .hero_single_col .left span{
    font-size: var(--h3-font-size);
    margin-bottom: 0px;
}
.hero_area .hero_single_col .left h1{
    color: var(--text-color);
    font-size: 40px;
    margin-bottom: 0px;
}
.hero_area .hero_single_col .left p{
    margin-bottom: 20px;
    line-height: 20px;
}
.skills{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-block: 80px;
}

.skills .left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}
.skills .left .main_box{
    width: 100%;
    padding: 20px;
}
.skills .left .main_box h1{
    font-size: 40px;
    padding-bottom: 10px;
}
.skills .left .main_box span{
    font-size: var(--h4-font-size);
    margin-bottom: 30px;
}

.skills .right{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills .right .skill_right_h2{
    font-size: var(--h2-font-size);
    margin-bottom: 20px;
}
.skills .right .skills_col{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 100px 100px;
    gap: 20px;
}


.Service {
    padding-block: 70px;
}

.Service .service_btn_area{

    padding: 30px 0 30px;
}

.Service .service_area{
    width: 100%;
    margin: auto;
}

.experience{
    padding-block: 70px;
}
.experience .text_area{
    margin-bottom: 30px;
}
.experience .experience_row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.experience .experience_row .experience_col{
    background-color: #282828;
    padding: 30px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    flex-basis: 30%;
    margin: 10px;

}
.experience .experience_row .experience_col .post{
    font-size: var(--p-font-size);

}
.experience .experience_row .experience_col .c_name{
    font-size: var(--p-mini-font-size);
}
.experience .experience_row .experience_col .c_web_link i{
    margin-right: 5px;
    transition: .3s;
}


.testimonial{
    padding-block: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.testimonial .left{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.testimonial .left .img_grp_box .main_img_box{
    box-shadow: 0px 0px 10px var(--color-one);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.testimonial .right{
    width: 100%;
}
.testimonial .right .testimonial_swiper .swiper-wrapper .swiper-slide h2{
    font-size: var(--h3-font-size);
    margin-bottom: 10px;
}

.pricing{
    padding-block:70px ;
}
.pricing .price_col {
    justify-content: center;

}
.pricing .price_col .price_box{
    flex-basis: 40%;
    margin: 10px;

}

.blog_section .text_area{
    margin-top: 0;
}

.blog_section .blog_area .swiper .blog_area_slide_warper .swiper-button-prev:after, .blog_section .blog_area .swiper .blog_area_slide_warper .swiper-button-next:after{

    font-size: 20px;
}


.small_contact_link_section{
    display: none;
}

.skills.about{
    flex-direction: column;
    padding-block: 50px;
}
.skills.about .left{
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}
.skills .left .img_box{
    flex-basis: 50%;
}

.skills .left .img_box img{
    width: 100%;
    border: 10px solid #1B1A19;
    
}
.skills .left .img_box img.hero_skill_logo{
    height: 60px;
    width: 60px;
    border: 5px solid #fff;
}

.skills .left .img_box .hero_skill_text{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    padding: 5px;
}
.contact_info_3_box .contact_info_3_box_row .contact_info_3_box_col{
    padding: 20px;
    flex-basis: 45%;
}

.portfolio .portfolio_area{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    
}
}

@media  (max-width: 500px){
    :root{
    --p-font-size: 12px;
    --p-mini-font-size:11px;
    --h2-font-size:28px;
    --h3-font-size:20px;
    --h4-font-size:16px;
}

.experience .experience_row .experience_col{
    padding: 10px 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 45%;
    margin: 5px;
}


.testimonial .left{
    width: 50%;

}

.pricing .price_col .price_box{
    flex-basis: 45%;
    padding: 0 5px 10px;
    margin: 10px;
    border-radius: 10px;
}
.footer{
    padding-block: 50px;
}
.footer .footer_row{
    align-items: start;
    justify-content: center;
}
.footer .footer_row .footer_col{

}
.footer .footer_row .footer_col:nth-child(1){
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.footer .footer_row .footer_col:nth-child(1) .logo {
    margin-bottom: 10px;
}
.footer .footer_row .footer_col:nth-child(1) p{
    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;
    width: 70%;

}

.footer .footer_row .footer_col h3{
    font-size: var(--h4-font-size);
    margin-bottom: 20px;
}
.footer .footer_row .footer_col ul li{
    margin-bottom: 10px;
}

.footer .footer_row .footer_col:nth-child(2){
    flex-basis: 30%;
    padding-left: 0;
    text-align: center;
}
.footer .footer_row .footer_col:nth-child(3){
    flex-basis: 30%;
    padding-left: 0;
    text-align: center;
}
.footer .footer_row .footer_col:nth-child(4){
    flex-basis: 80%;
    overflow: hidden;
    text-align: center;

}

.footer .footer_row .footer_col .last_fo_para{
    line-height: 20px;
    width: 60%;
    margin: auto;
}
.footer .footer_row .footer_col .email_box{
    padding: 5px;
    border-radius: 5px;
    width: 90%;
    
    margin: auto;
    margin-top: 20px;
}
.footer .footer_row .footer_col .email_box input{
    font-size: var(--p-font-size);
    padding: 5px;
    width: 80%;
}
.footer .footer_row .footer_col .email_box i{
    flex-basis: 20%;
    text-align: center;
}



.Service .service_btn_area button{
    width: 200px;
    margin: 10px;


}


}

@media  (max-width: 400px){
:root{
    --p-font-size: 10px;
    --p-mini-font-size:8px;
    --h2-font-size:26px;
    --h3-font-size:18px;
    --h4-font-size:14px;
}
section{
    padding-inline:2% ;
}

.nav_area{

    padding-block: 5PX;
}
.nav_area .logo_area a  img{
    width: 50px;
}
.hero_area .hero_single_col .left span{

    font-size: var(--h4-font-size);
    margin-bottom: 10px;
}
.hero_area .hero_single_col .left h1{
    font-size: 25px;
    margin-bottom: 5px;
}
.hero_area .hero_single_col .left h2{
    color: var(--color-one);
    font-size: var(--h4-font-size);
    margin-bottom: 10px;
}
.hero_area .hero_single_col .left p{
    width: 90%;
    margin-bottom: 20px;
    line-height: 15px;
}

.hero_area .hero_single_col .right{
    width: 50%;
}

.skills{
    padding-block: 50px;
}
.skills .left .main_box{
    width: 90%;
    padding: 20px;
}
.skills .left .main_box .sub_box_border .sub_box{
    padding: 10px;

}
.skills .left .main_box .sub_box_border .sub_box .sub_box_right span{
    font-size: var(--p-font-size);
    line-height: 15px;
}

.skills .right .skill_right_p{
    margin-bottom: 40px;
    line-height: 15px;
    text-align: center;
}

.skills .right .skills_col{
    width: 100%;
    padding: 0 10px;
}
.skills .right .skills_col{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 80px;
    gap: 5px;
}
.skills .right .skills_col .skill_box_border{
    padding: 1px;

}
.skills .right .skills_col .skill_box_border .skill_box .text h3{
    font-size: 15px;
    margin-bottom: 10px;
}

.Service {
    padding-block: 50px;
}
.Service .text_area{
    margin-bottom: 10px;
}
.Service .text_area h2{

    margin-bottom: 10px;
}
.Service .text_area p{
    line-height: 15px;
    width: 80%;
    margin: auto;
}
.Service .service_btn_area{
    padding: 20px 0;
}
.Service .service_btn_area button{
    width: 100px;
    margin: 5px;
    font-size: var(--p-font-size);
}

.Service .service_area{
    width: 95%;
}
.Service .service_area .service_box{
    flex-basis: 80%;
    min-height: 300px;
    margin: 10px 0;
    padding: 30px 10px;
}

.Service .service_area .service_box .logo_icon{
    padding: 15px;
    margin-bottom: 20px;

}
.Service .service_area .service_box p{
    line-height: 15px;
    margin-bottom: 20px;
}

.experience{
    padding-block: 50px;
}
.experience .text_area p{
    line-height: 15px;
    
}

.recentwork .text_area{
    margin: 20px 0 50px;
}


.recentwork .text_area .left h2{
    font-size: var(--h2-font-size);
    margin-bottom: 10px;
}
.recentwork .text_area .left p{
    width: 90%;
    line-height: 15px;
}

.recentwork .text_area .right .icon_box{
    padding: 5px;
}

.recentwork .text_area .right .icon_box .icon{
    padding: 10px;

}
.recentwork .text_area .right .icon_box .icon i{
    font-size: 30px;
}
.recentwork .resentwork_swiper{
    padding-bottom: 80px;
}
.recentwork .resentwork_swiper .swiper-button-prev,
.recentwork .resentwork_swiper .swiper-button-next {
    width: 30px;
    height: 30px;

}

.recentwork .resentwork_swiper .swiper-wrapper .swiper-slide .img_box{
    width: 100%;
    height: 150px;

}

.testimonial .left{
    width: 50%;
    margin-bottom: 30px;
}
.testimonial .left .img_grp_box{
    padding: 20px;
}
.testimonial .left .img_grp_box .border_img{
    position: absolute;
    width: 30px;
    border-radius: 50%;
}
.testimonial .right .testimonial_swiper .swiper-wrapper .swiper-slide h2{
    line-height: 20px;
}
.testimonial .right .testimonial_swiper .swiper-wrapper .swiper-slide p{
    line-height: 15px;
}

.testimonial{
    padding-block: 50px;
}
.testimonial .right{
    padding-left: 0px;
    padding: 5px;
}

.testimonial .right .testimonial_swiper .swiper-wrapper .swiper-slide h4{

    margin-bottom: 3px;
}

.testimonial .right .testimonial_swiper .swiper-button-prev,
.testimonial .right .testimonial_swiper .swiper-button-next {
    width: 30px;
    height: 30px;
    bottom: 20px;
}
.testimonial .right .testimonial_swiper .swiper-button-next {
    left: 70%;
    transform: translateX(40px);

}

.pricing{
    padding-block:50px ;
}
.pricing .title_area h2{

    margin-bottom: 10px;
}
.pricing .title_area .title_dec{
    line-height: 15px;
}

.pricing .price_col .price_box{
    flex-basis: 80%;
}


.blog_section{
    padding-block: 50px;
}


.blog_section .text_area h2{
    margin-bottom: 10px;
}
.blog_section .text_area p{
    line-height: 15px;
}
.blog_section .blog_area .swiper{
    width: 100%;

}
.blog_section .blog_area .swiper .blog_area_slide_warper{
    padding: 0 10px;
}
.blog_section .blog_area .swiper .blog_area_slide_warper .swiper-wrapper .swiper-slide img{
    margin-bottom: 10px;
}
.blog_section .blog_area .swiper .blog_area_slide_warper .swiper-wrapper .swiper-slide .date{
    padding: 5px 10px;
    font-size: var(--p-mini-font-size);
}
.blog_section .blog_area .swiper .blog_area_slide_warper .swiper-wrapper .swiper-slide h3{
    margin: 10px 0;
    font-size: var(--p-font-size);
}
.blog_section .blog_area .swiper .blog_area_slide_warper .swiper-wrapper .swiper-slide .blog_single_page_link a{
    color: var(--text-color);
    font-size: var(--p-mini-font-size);
    margin-top: 20px;
}
.footer .footer_row .footer_col:nth-child(1) .logo a img{
    width: 70px;
}

.footer .footer_row .footer_col:nth-child(2), .footer .footer_row .footer_col:nth-child(3) {
    flex-basis: 42%;
}


.page_into{
    height: 30vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/page-title2.jpg);
    background-size: cover;
    background-position: right;

}

.page_into .text h2{
    color: var(--text-color);
    font-size: 30px;
    margin-bottom: 10px;
    padding: 0;
}
.skills .left{
width: 100%;
}
.skills .left .img_box{
    display: flex;
    flex-basis: 60%;
}
.skills .left .img_box img{
    width: 100%;
    border: 5px solid #1B1A19;
    border-radius: 10px;
    
}
.skills .left .img_box img.hero_skill_logo{
    height: 50px;
    width: 50px;
    border: 5px solid #fff;

}

.brand_logo{
    padding-block: 20px;
}


.portfolio .portfolio_area{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0 20px;
    
}

.contact_info_3_box{
   padding-top: 50px;
}

.contact_info_3_box .contact_info_3_box_row .contact_info_3_box_col{
    padding: 10px;
    flex-basis: 80%;
    height: 220px;
}

.contact_info_3_box  .form {
    padding: 20px;
    width: 90%;
    margin: auto;
    margin-bottom: -50px;
}
}